<div class="contact d-flex text-center">
  <div class="container">
    <div class="row mt-4 mb-5">
      <h1 class="text-uppercase fw-bold">contact Component</h1>
      <div
        class="star d-flex justify-content-center align-items-center mb-4 gap-3"
      >
        <div class="left-line"></div>
        <i class="fa-solid fa-star"></i>
        <div class="right-line"></div>
      </div>
    </div>
    <div class="row gy-5 w-75 mx-auto">
      <form class="d-flex flex-column gap-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">userName</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">userAge</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">userEmail</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">userPassword</label>
        </div>
        <button type="submit" class="btn btn-primary w-25">Submit</button>

      </form>
    </div>
  </div>
</div>
