<div class="home d-flex align-items-center">
  <div class="container-fluid">
    <div class="row py-4">
      <div class="d-flex align-items-center flex-column">
        <img src="imgs/avataaars.svg" alt="Avatar" />
        <h1 class="text-uppercase fw-bold py-4">start Framework</h1>
        <div class="star d-flex align-items-center mb-4 gap-3">
          <div class="left-line"></div>
          <i class="fa-solid fa-star"></i>
          <div class="right-line"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</div>